
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, home-aside, front-aside, main-aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*  ---------------------- Variables ---------------------- */
/* Read more about variables here: https://www.w3schools.com/css/css3_variables.asp */
:root{
    --dark-primary-color: #804ABA;
    --light-primary-color:  #9E42FF;
    --border:#804ABA;
    --background-mustard: #A3A324;
    --text: #f0ef65;
    --accent: #a3a324;
    --text-light: white;
    --text-black: #280931;
    --divider-color: #BDBDBD;
    --w3-khaki: #f0e68c;
}

/* ---------------------- layout ------------------------- */
 body {
    font-family: 'Roboto', sans-serif;
    min-height: 1080px;
    min-width: 1050px;
    box-sizing: border-box;
    line-height: 1.5em;
    border: var(--border);
    background-color: var(--dark-primary-color);
}
.w3-panel{
    border: 3px solid var(--dark-primary-color);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--accent);
}
.container{
    min-width: 1080px;
    min-height: 500px;
    padding: 20px;
    border: 3px solid var(--accent);
    border-radius: 10px;
    background-color:  var(--background-dark);
    list-style: none;
}
.container-golden{
    min-width: auto;
    min-height: auto;
    line-height: 1em;
    list-style: none;
    text-align: center;
    background: var(--accent);
    color: var(--text-black);
}
.accent{
    color: var(--accent);
}
.w3-purple{
    text-align: center;
    display: inline-block;
    float: none;
    border: 3px solid var(--background-dark);
    background-color: var(--background-dark);
}
.pale purple{
    background-color: var(--light-primary-color);
}

.pale-khaki{
    background-color:var(--w3-khaki);
}

nav{
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
}

header{
    text-align: center;
    border-radius: 15px;
    background-color: var(--background-dark);
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1em;
    margin: auto 70px 70px;
}
/* Increase the font size of the <h1> element */
.header h1 {
  font-size: 30px;
  font-family: 'Roboto', sans-serif; 
}

dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

ol {
    list-style-type: lower-alpha;
    color: black;
    text-align: left;
    list-style-position: outside;
}
dt{
    margin: 10px;
    font-weight: bold;
    color: black;
    text-align: left;
}
dd{
    text-align: left;
    list-style-position: outside;
    margin: 15px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.main{
    position: relative;
    left: 15%;
    width: 85%;
    height: inherit;
}

.ul-a{
    text-align: left;
    width: 60px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.p{
    padding: 15px;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    line-height: 1.0;
    color: var(--text-black);
    text-align: justify;
}

.p-left{
    text-align: left;
    padding: 10px;
    color: var(--text-black);
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}
h1{
    display: block;
    text-align:center;
    padding: 15px;
    font-weight: bold;
    font-size: 1.5em; 
    font-family: 'Roboto', sans-serif; 
    color: var(--text-black);
}

h2{
    text-align:center;
    padding: 5px;
    font-weight: bold;
    font-size: 1.0em;
    font-family: aviano-flare, sans-serif;
    color: var(--text-black);
}

h3, h4, h5, h6, hr{ 
    display: block;
    padding: 5px; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.0em;
    color: var(--text-black);   
}

.home__main {
    display: flex;
    flex: 70px;
    flex-flow: row wrap;
    margin: 10px 30px;
    box-sizing: border-box;
    color: var(--text-black);
}

.home__aside, .home__bio {
    flex: 1 30%;
    box-sizing: border-box;
    padding: 20px;
    color: var(--text-black)
}

footer {
    clear: both;
    text-align: center;
    padding: 20px;
    width: 100%;
}

.home__quote{
    margin-top: 15px;
    flex: 100% 1;
    text-align: left;
    background-color: var(--background-dark);
    color: var(--accent);
}

/* images */
.home__image {
    width: 100%;
}

.figcaption{
    padding: 2px;
    text-align: center;
    font-family: sans-serif;
    color: var(--background-dark);
    background-color: var(--background-mustard);
}
    
.myfamily {
    float: right;  
    width: 41%;
    margin: 10px 5px;
    padding: 10px;
    background-color: #A2AD40;
    margin: 10px;
    position: relative;
    border-radius: 10px;
}

#resizebackground-image{
    border: 1px var(--background-dark);
    background: url(/images/pink-flowers.jpg);
    background-size: 100Px 80px;
    background-repeat: no-repeat;
    padding: 15px;
} 

#mehdi{
    width: auto;
    float: right;
}
#baraat{
    width: auto; 
    float: left;
}
#nikah-solaman {   
    width: auto;
    float: right; 
}
#nikah {
    width:auto;
    padding-right: 15px; 
    float: right;
}
#nikahnight{
   width:auto;
    height:50%;
    padding-right:15px; 
    float:left; 
}
#bridearrival{
   width: auto;
    padding-right:15px; 
    float:right;
}
#walima{
    width: auto; 
    margin-right:15px; 
    float: right;   
}
#understand{
    width:300px;
    float: right;
}

#same-day{
    width:300px;
    float: left;
}
#cardinals{
    width:300px;
    float: left;  
}
#amethyst{
     width:300px;
    float: right;  
}
#george{
     width:300px;
    float: left;
}
#wofie {
     width:300px;
    float: right;
}
.div{
    float: left;
    padding: 15px;
}
.div1{
    float: right;  
}
/* responsive gallery */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other https://www.w3schools.com/howto/tryit.asp?filename=tryhow_make_a_website_content_responsive*/
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width:100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}